<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>460367251098-rhsb01bbfrvem3ufrg0fcsd0hulfatfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460367251098-rhsb01bbfrvem3ufrg0fcsd0hulfatfq</string>
	<key>API_KEY</key>
	<string>AIzaSyBviV9Y7GD3lDFsTeqMaew0ZO6yYXbMwtw</string>
	<key>GCM_SENDER_ID</key>
	<string>460367251098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cci.notebookIOSApp</string>
	<key>PROJECT_ID</key>
	<string>notebookios-4a37d</string>
	<key>STORAGE_BUCKET</key>
	<string>notebookios-4a37d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460367251098:ios:2c9862cc7c2db834</string>
	<key>DATABASE_URL</key>
	<string>https://notebookios-4a37d.firebaseio.com</string>
</dict>
</plist>